.container {
  display: grid;
  place-items: center;
  gap: 2.4rem;


  margin: 0 auto;
  max-width: calc(100% - 5rem);


}

@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-column: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    /* grid-template-row: repeat(2, 1fr); */

    grid-template-areas:
      "daniel daniel   john     kira"
      "jean   patrick  patrick   kira"
    ;
    > * {
      align-self: stretch;
    }
   
  }

  .card {
    &__one {
      grid-area: daniel;
    }

    &__two {
      grid-area: john;
    }

    &__three {
      grid-area: jean;
    }

    &__four {
      grid-area: patrick;
    }

    &__five {
      grid-area: kira;
    }
  }
}

main{
  margin-block-start: 2rem;
}