.profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  
  &__pic{
    border-radius: 50%;

    
    /* object-fit: cover; */
  }
  &__info{
    align-self: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    
    h3, h4 {
      margin-block: 0;
    }
  }
  
}


h3 + h4 {
  margin-block-end: .2rem;
}